
<a asp-controller="DisplayMenu" asp-action="Index" class="btn btn-danger" id="returntodisplaymenu">Terug naar Menu</a>

<table id="orderhistorytable">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Besteling</th>
            <th>Prijs</th>
        </tr>
    </thead>
    <tbody id="tableCurrentOrder">
        <!-- Display order history customer -->
    </tbody>
</table>

<a asp-controller="DisplayMenu" asp-action="Index" class="btn btn-danger" id="returntodisplaymenu">Terug naar Menu</a>

<script src="~/js/displayOrderHistory.js"></script>