@{
    ViewData["Title"] = "Order Summary";
}

<div id="orderHeader"></div>

<div>
    <table class="table table-bordered" id="orderSummary">
        <thead class="table-light">
            <tr>
                <th>Datum</th>
                <th>Tijd</th>
                <th>Bestelling</th>
                <th>Prijs</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="displayCurrentOrder">
            <!-- Display order-->
        </tbody>
        
        <tfoot id="displayTotalPrice">
            <!-- Display total price -->
        </tfoot>
    </table>
</div>

<script src="~/js/displayOrderSummary.js"></script>
<script src="~/js/handleBtnBackToMenu.js"></script>