@{
    ViewData["Title"] = "Order Summary";
}

<h1>Besteloverzicht @ViewData["CustomerName"], Tafel: @ViewData["TableNumber"], OrderId: @ViewData["OrderId"]</h1>

<div>
    <table class="table table-bordered" id="orderSummary">
        <thead class="table-light">
            <tr>
                <th>Order</th>
                <th>Datum</th>
                <th>Tijd</th>
                <th>Bestelling</th>
                <th>Prijs</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="displayCurrentOrder">
            <!-- Bestellingen zullen hier worden geladen -->
        </tbody>
        
        <tfoot id="displayTotalPrice">
            <!-- Totaal prijs zal hier worden geladen -->
        </tfoot>
    </table>
</div>

<script src="~/js/displayOrderSummary.js"></script>
